{% extends "base.html" %}

{% block title %}Crear Dojo{% endblock %}
{% block page_title %}Crear Dojo{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <header>
                <h1>Crear Dojo</h1>
            </header>
            
            <section>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="submit-btn">Crear Dojo</button>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
